@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "SHOCKZ";
}

    <div class="text-center">
       


        <h1 class="display-4">LACHEN huh</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
