<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="nav-bar">
       <ul>

        <li><a href="/Pricacy" >Info</a></li>
        <li><a href="/ShowAll" >showall</a></li>
           </ul>
    </nav>

   
    @RenderBody()


</body>
</html>
